.container-xxl {
    --bs-gutter-x: 6.25rem;
}

.logo {
    box-sizing: content-box;
    position: static;
    transform: none;
    height: 100%;
    padding-left: 32px;
    padding-right: 48px;
    border-right: 2px solid #e5e5e5;
}

.btn-chose-lang {
    background-color: transparent;
    border: none;
}

.dropdown-lang .dropdown-menu {
    --bs-dropdown-min-width: 1rem;
}

.dropdown-lang .dropdown-item {
    --bs-dropdown-link-active-bg: black;
}

.header {
    height: 112px;
}

.header__burger {
    position: relative;
    margin-right: 32px;
}

.header__burger::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -32px;
    transform: translateY(-50%);
    height: 44px;
    width: 2px;
    background-color: #e5e5e5;
}

.header__right-block {
    position: relative;
    height: 100%;
    padding-left: 48px;
}

.header__right-block::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -48px;
    height: 100%;
    width: 2px;
    background-color: #e5e5e5;
}

.hero .swiper-slide img {
    height: 748px;
}

.hero .swiper-slide img {
    -o-object-position: center center;
    object-position: center center;
}

.hero__text {
    font-size: 4rem;
}

.benefits__wrap {
    position: relative;
}

.benefits__wrap::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 12px;
    width: 1px;
    background-color: #e5e5e5;
}

.benefits__title {
    font-size: 3.125rem;
}

.benefits__slide {
    position: absolute;
    flex-direction: row-reverse;
    border-left: 1px solid #e5e5e5;
}

.benefits__picture {
    padding: 77px 80px;
    flex-basis: 70%;
}

.benefits__picture::before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 30%;
    width: 1px;
    background-color: #e5e5e5;
}

.benefits__slide-text {
    position: relative;
    flex-basis: 30%;
    margin-top: auto;
    margin-bottom: 48px;
    border-radius: 0 24px 0 0;
}

.benefits__slide-text::after {
    position: absolute;
    content: "";
    top: -1px;
    bottom: 0;
    right: -1px;
    left: 0;
    border-radius: 0 24px 0 0;
    border-top: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
}

.benefits__buttons {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 30%;
    z-index: 2;
}

.benefits__buttons::before {
    position: absolute;
    transform: translate(2px, -1px);
    content: "";
    top: 0;
    right: 0;
    width: 2px;
    height: 1px;
    background-color: #e5e5e5;
}

.benefits__buttons::after {
    position: absolute;
    transform: translateX(2px);
    content: "";
    right: 0;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: #e5e5e5;
}