.container-xxl {
    --bs-gutter-x: 6.25rem;
}

.logo {
    box-sizing: content-box;
    position: static;
    transform: none;
    height: 100%;
    padding-left: 32px;
    padding-right: 48px;
    border-right: 2px solid #e5e5e5;
}

.btn-chose-lang {
    background-color: transparent;
    border: none;
}

.dropdown-lang .dropdown-menu {
    --bs-dropdown-min-width: 1rem;
}

.dropdown-lang .dropdown-item {
    --bs-dropdown-link-active-bg: black;
}

.row-main .col {
    height: 120px;
}

.header {
    height: 112px;
}

.header__burger {
    position: relative;
    margin-right: 32px;
}

.header__burger::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -32px;
    transform: translateY(-50%);
    height: 44px;
    width: 2px;
    background-color: #e5e5e5;
}

.header__right-block {
    position: relative;
    height: 100%;
    padding-left: 48px;
}

.header__right-block::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -48px;
    height: 100%;
    width: 2px;
    background-color: #e5e5e5;
}

.hero .swiper-slide img {
    height: 748px;
}

.hero .swiper-slide img {
    -o-object-position: center center;
    object-position: center center;
}

.hero__text {
    font-size: 4rem;
}

.benefits__bottom-mobile > .col {
    height: 120px;
}

.benefits__wrap {
    position: relative;
}

.benefits__wrap::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 12px;
    width: 1px;
    background-color: #e5e5e5;
}

.benefits__title {
    font-size: 3.125rem;
}

.benefits__slide {
    position: absolute;
    flex-direction: row-reverse;
    border-left: 1px solid #e5e5e5;
}

.benefits__picture {
    padding: 77px 80px;
    flex-basis: 70%;
}

.benefits__picture::before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 30%;
    width: 1px;
    background-color: #e5e5e5;
}

.benefits__slide-text {
    position: relative;
    flex-basis: 30%;
    margin-top: auto;
    margin-bottom: 48px;
    border-radius: 0 24px 0 0;
}

.benefits__slide-text::after {
    position: absolute;
    content: "";
    top: -1px;
    bottom: 0;
    right: -1px;
    left: 0;
    border-radius: 0 24px 0 0;
    border-top: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
}

.benefits__buttons {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 30%;
    z-index: 2;
}

.benefits__buttons::before {
    position: absolute;
    transform: translate(2px, -1px);
    content: "";
    top: 0;
    right: 0;
    width: 2px;
    height: 1px;
    background-color: #e5e5e5;
}

.benefits__buttons::after {
    position: absolute;
    transform: translateX(2px);
    content: "";
    right: 0;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: #e5e5e5;
}

.opinion__text {
    right: 0;
    left: auto;
    max-width: 468px;
    font-size: 1.875rem;
}

.team__title {
    margin-top: 50px;
    font-size: 3.75rem;
}

.contact .container-xxl {
    align-items: flex-end;
}

.contact__form {
    margin-top: 40px;
    padding-top: 80px;
    padding-bottom: 80px;
}

.contact .form__title {
    font-size: 3.75rem;
    margin-bottom: 32px;
}

.contact input:not(:last-child), .contact textarea, .contact select {
    padding: 6px;
}

.contact select {
    line-height: 1em;
}

.contact input[type=submit] {
    align-self: flex-end;
    padding: 16px 40px;
    margin-top: 16px;
}

.projects .container-xxl {
    padding-top: 80px;
    padding-bottom: 64px;
}

.projects__swiper .swiper-wrapper {
    margin-left: 430px;
    margin-top: 0;
}

.projects__swiper .swiper-wrapper .swiper-slide {
    width: 491px;
    height: 441px;
}

.projects__top-wrap {
    position: absolute;
    width: 400px;
    height: 441px;
    padding-right: 50px;
    background-color: #ffffff;
    z-index: 2;
}

.projects__text {
    font-size: 1.25rem;
}

.projects__title {
    margin-top: 40px;
}

.footer__main {
    flex-direction: row;
    row-gap: 0;
    -moz-column-gap: 1px;
    column-gap: 1px;
}

.footer__contacts-btn {
    max-width: 165px;
}

.footer__down {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 62px;
    padding-bottom: 62px;
}

.footer__logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}