.navigation__content {
    max-width: 350px;
}

.navigation__close-block {
    flex-basis: 100%;
}

.hero .swiper-slide img {
    -o-object-position: center center;
    object-position: center center;
}

.contact .form__title {
    font-size: 3.125rem;
}