.consultation > .container-xxl {
    padding-top: 80px;
}

.consultation > .container-xxl::before {
    top: 80px;
    right: 80px;
    transform: none;
    background-position: right top;
    background-size: 65%;
}

.consultation > .container-xxl::after {
    display: none;
}

.consultation__title {
    margin-bottom: 32px;
}

.contact__form {
    margin-right: 100px;
}

.projects__swiper .swiper-wrapper .swiper-slide {
    width: 591px;
    height: 441px;
}

.footer__list-title {
    font-size: 2.25rem;
}

.footer__link {
    font-size: 1.25rem;
    line-height: 1.6875rem;
}

.info__item {
    font-size: 1.25rem;
}

.info__title {
    line-height: 1.5rem;
}