// Metropolis
@font-face {
  font-family: "MetropolisAr";
  src: url("../fonts/metropolis/metropolis-regular-webfont.woff") format("woff");
  src: url("../fonts/metropolis/metropolis-regular-webfont.woff2")
    format("woff2");
  src: url("../fonts/metropolis/Metropolis-Regular.otf") format("otf");
  font-style: normal;
  font-weight: 400;
}
