@use "sass:math";
@use "sass:color";
@use "sass:map";

// === font-face ===
@import "_fonts.scss";

// === variables ===
@import "_variables.scss";

// === mixins ===
@import "_mixins.scss";

// === functions ===
@import "_functions.scss";

/* Default Styles */
*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: map.get($fonts, "main");
  font-weight: 400;
}

a {
  text-decoration: none;
}

.container-xxl {
  --bs-gutter-x: 3.125rem;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  display: inline-block;
  width: 108px;
  height: 48px;

  background-image: url("../img/logo.svg");
  background-position: center center;
  background-repeat: no-repeat;
}

.offcanvas__nav-link {
  display: inline-block;

  padding: 10px 15px;

  color: $color-black-main;

  &:hover {
    background-color: color.scale(#ffffff, $blackness: 5%);
  }
}

.btn-outline-primary {
  --bs-btn-color: #{$color-black-main};
  --bs-btn-border-color: #{$color-black-main};
  --bs-btn-border-radius: 1rem;
  --bs-btn-hover-bg: #{$color-black-main};
  --bs-btn-hover-border-color: #{$color-black-main};
  --bs-btn-active-bg: #{color.scale($color-black-main, $lightness: 20%)};
  --bs-btn-active-border-color: #{$color-black-main};

  padding: 16px 40px;

  font-size: toRem(18px);
}

.row-main {
  --bs-gutter-x: 0;
  & .col {
    height: 80px;
    &:not(:first-child) {
      border-left: 1px solid $color-border;
    }
  }
}

// header
.header {
  display: flex;
  align-items: center;
  height: 96px;

  & > .container-xxl {
    display: flex;
    align-items: center;

    height: 100%;
  }

  &__burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 32px;
    width: 32px;
    padding: 8px 5px;

    &-line {
      height: 2px;
      width: 100%;

      background-color: $color-clear-black;
    }
  }

  &__btn-contact {
    margin-right: 49px;
  }
}

// Hero
.hero {
  & > .container-xxl {
    padding: 0;
  }

  & .swiper {
    width: 100%;
    height: 100%;
  }

  & .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & .swiper-slide img {
    display: block;
    height: 503px;
    width: 100%;
    object-fit: cover;
    object-position: 50% 0;
  }

  z-index: 2;
  &__info {
    position: absolute;
    right: 0;
    top: 40px;
    left: 49px;

    padding: 32px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      border-radius: 24px 0 0 24px;

      background-color: color.adjust($color-black-main, $alpha: -0.45);
      backdrop-filter: blur(8px);

      z-index: 1;
    }
  }

  &__text {
    position: relative;
    color: $color-clear-white;

    font-size: toRem(40px);
    line-height: 1em;

    z-index: 2;
  }
  &__view-all {
    position: relative;
    display: inline-block;

    margin-top: 40px;

    color: $color-clear-white;
    font-size: toRem(24px);
    text-decoration: underline;
    z-index: 2;
  }
}

// benefits
.benefits {
  & .continer-xxl__top {
    padding: 0;
  }
  & .col {
    height: 80px;
  }

  &__top-wrap > .row > .col:not(:last-child) {
    border-right: 1px solid $color-border;
  }

  &__title {
    font-size: toRem(34px);

    padding: 35px 30px;
    margin-bottom: 0;

    border-top: 1px solid $color-border;
    border-right: 1px solid $color-border;
    border-radius: 0 24px 0 0;
  }

  &__top-mobile .col {
    height: 80px;
    &:not(:last-child) {
      border-right: 1px solid $color-border;
    }
  }

  &__bottom-mobile .col {
    height: 80px;
    border-top: 1px solid $color-border;

    &:not(:last-child) {
      border-right: 1px solid $color-border;
    }
  }

  &__swiper {
    border-top: 1px solid $color-border;
  }

  &__slide {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__picture {
    padding: 40px 25px 5px 25px;

    & > img {
      width: 100% !important;
    }
  }
  &__slide-text {
    padding: 32px 25px;

    font-size: toRem(24px);

    order: 2;
  }

  &__buttons {
    display: flex;

    column-gap: 1px;
    border-top: 1px solid $color-border;

    background-color: $color-border;
  }

  &__btn {
    display: inline-block;

    height: 48px;
    flex-basis: 50%;

    background-image: url("../img/arrow.svg");
    background-repeat: no-repeat;
    background-position: center center;

    background-color: $color-clear-white;

    &-prev {
      transform: rotate(180deg);
    }
  }
}

// opinion
.opinion {
  &__top {
    position: relative;

    height: 736px;

    background-image: url("../img/opinionBG.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
  }

  &__text {
    position: absolute;
    bottom: 0;
    left: 25px;
    right: 25px;

    padding: 32px;
    margin-bottom: 0;

    border-radius: 24px 0 0 0;
    border: 1px solid $color-border;

    font-size: toRem(24px);

    background-color: $color-clear-white;
  }
}

// team
.team {
  & > .container-xxl {
    display: flex;
    align-items: center;
    flex-direction: column;

    margin-bottom: 140px;

    background-image: url("../img/teamBG.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  &__title {
    margin-top: 18px;

    font-size: toRem(48px);
  }

  &__info {
    position: relative;
    bottom: -140px;

    max-width: 468px;
    padding: 32px;
    margin-top: 315px;
    border-radius: 24px;
    border: 1px solid $color-border;

    background-color: $color-clear-white;
  }

  &__text {
    font-size: toRem(18px);
  }

  &__link {
    margin-top: 24px;

    color: $color-black-main;
    font-size: toRem(24px);
    text-decoration: underline;
  }
}

// consultation
.consultation {
  & > .container-xxl {
    position: relative;

    display: flex;
    flex-direction: column;

    padding-top: 320px;
    padding-bottom: 40px;

    color: $color-clear-white;
    background-color: $color-black-main;

    overflow: hidden;
    &::before {
      content: "";
      position: absolute;
      top: -152px;
      bottom: 0;
      left: 0;
      right: 34px;
      transform: rotate(180deg);

      background-image: url("../img/consultationBG.png");
      background-repeat: no-repeat;
      background-position: left bottom;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      background: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        #111111 77.08%
      );
    }
  }

  &__title {
    margin-bottom: 24px;

    max-width: 325px;
    font-size: toRem(48px);

    z-index: 1;
  }

  &__text {
    max-width: 325px;
    font-size: toRem(18px);

    z-index: 1;
  }

  &__link {
    margin-top: 38px;

    color: $color-clear-white;
    font-size: toRem(24px);
    text-decoration: underline;

    z-index: 1;
  }
}

// contact
.contact {
  & .container-xxl {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-image: url("../img/contactBG.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  &__form {
    display: flex;
    flex-direction: column;

    max-width: 452px;
    width: 100%;
    padding: 32px;
    margin-top: 480px;
    margin-bottom: 40px;
    border-radius: 24px;

    background: rgba(17, 17, 17, 0.72);
    backdrop-filter: blur(8px);

    & input:not(:last-child),
    & textarea,
    & select {
      margin-bottom: 24px;

      border: none;
      border-bottom: 1px solid #444444;

      padding: 4px;
      height: 31px;

      color: $color-clear-white;

      background-color: transparent;
      outline: none;

      &::placeholder {
        color: $color-clear-white;
      }

      &:focus-visible {
        border-bottom: 1px solid $color-clear-white;
      }

      & option {
        color: $color-black-main;
      }
    }

    & input[type="submit"] {
      padding: 16px 14px;
      border: 1px solid $color-clear-white;
      border-radius: 16px;

      color: $color-clear-white;
      font-size: toRem(18px);

      background-color: transparent;
    }

    & textarea {
      overflow: hidden;
      resize: none;
    }

    & select {
      border-radius: 0;
      &:focus {
        box-shadow: none;
      }
    }
  }

  & .form__title {
    margin-bottom: 26px;

    font-size: toRem(32px);
    color: $color-clear-white;
  }
}
