@use "sass:math";
@use "sass:color";
@use "sass:map";

// === variables ===
@import "../_variables.scss";

// === functions ===
@import "../_functions.scss";
// common
.container-xxl {
  --bs-gutter-x: 6.25rem;
}
.logo {
  box-sizing: content-box;
  position: static;
  transform: none;

  height: 100%;
  padding-left: 32px;
  padding-right: 48px;

  border-right: 2px solid $color-border;

  //   &::after {
  //     content: "";
  //     position: absolute;
  //     top: 0;
  //     bottom: 0;
  //     right: 0;

  //     width: 2px;

  //     background-color: $color-border;
  //   }
}

.btn-chose-lang {
  background-color: transparent;
  border: none;
}

.dropdown-lang {
  & .dropdown-menu {
    --bs-dropdown-min-width: 1rem;
  }

  & .dropdown-item {
    --bs-dropdown-link-active-bg: black;
  }
}

// header
.header {
  //   & > .container-xxl {
  //     position: relative;
  //   }
  height: 112px;

  &__burger {
    position: relative;
    margin-right: 32px;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: -32px;
      transform: translateY(-50%);

      height: 44px;
      width: 2px;

      background-color: $color-border;
    }
  }

  &__right-block {
    position: relative;
    height: 100%;
    padding-left: 48px;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: -48px;

      height: 100%;
      width: 2px;

      background-color: $color-border;
    }
  }
}

// hero
.hero {
  & .swiper-slide img {
    height: 748px;
  }
  & .swiper-slide img {
    object-position: center center;
  }

  &__text {
    font-size: toRem(64px);
  }
}

// benefits
.benefits {
  &__wrap {
    position: relative;
    &::after {
      content: "";

      position: absolute;
      top: 0;
      bottom: 0;
      right: 12px;

      width: 1px;

      background-color: $color-border;
    }
  }

  &__title {
    font-size: toRem(50px);
  }

  &__slide {
    position: absolute;

    flex-direction: row-reverse;

    border-left: 1px solid $color-border;
  }

  &__picture {
    // position: relative;
    padding: 77px 80px;
    // border-left: 1px solid $color-border;
    flex-basis: 70%;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      bottom: 0;
      left: 30%;

      width: 1px;

      background-color: $color-border;
    }
  }

  &__slide-text {
    position: relative;
    flex-basis: 30%;
    margin-top: auto;
    margin-bottom: 48px;
    // border-top: 1px solid $color-border;
    border-radius: 0 24px 0 0;

    // border-right: 1px solid $color-border;

    &::after {
      position: absolute;
      content: "";
      top: -1px;
      bottom: 0;
      right: -1px;
      left: 0;

      border-radius: 0 24px 0 0;

      border-top: 1px solid $color-border;

      border-right: 1px solid $color-border;
    }
  }

  &__buttons {
    position: absolute;
    left: 0;
    bottom: 0;

    width: 30%;

    z-index: 2;

    &::before {
      position: absolute;
      transform: translate(2px, -1px);

      content: "";
      top: 0;
      right: 0;

      width: 2px;
      height: 1px;

      background-color: $color-border;
    }
    &::after {
      position: absolute;
      transform: translateX(2px);

      content: "";
      right: 0;
      top: 0;
      bottom: 0;

      width: 1px;

      background-color: $color-border;
    }
  }
}

// opinion
.opinion {
  &__text {
    right: 0;
    left: auto;

    max-width: 468px;

    font-size: toRem(30px);
  }
}
