@use "sass:math";
@use "sass:color";
@use "sass:map";

// === functions ===
@import "../_functions.scss";

//navigation
.navigation {
  &__content {
    max-width: 350px;
  }

  &__close-block {
    flex-basis: 100%;
  }
}

// hero
.hero {
  & .swiper-slide img {
    object-position: center center;
  }
}

// contact
.contact {
  & .form__title {
    font-size: toRem(50px);
  }
}
