@use "sass:math";
@use "sass:color";
@use "sass:map";

// === variables ===
@import "../_variables.scss";

// === functions ===
@import "../_functions.scss";

// consultation
.consultation {
  & > .container-xxl {
    padding-top: 80px;

    &::before {
      top: 80px;
      right: 80px;
      transform: none;

      background-position: right top;
      background-size: 65%;
    }
    &::after {
      display: none;
    }
  }
  &__title {
    margin-bottom: 32px;
  }
}

// contact
.contact {
  &__form {
    margin-right: 100px;
  }
}

// projects
.projects {
  &__swiper {
    & .swiper-wrapper {
      & .swiper-slide {
        width: 591px;
        height: 441px;
      }
    }
  }
}

// footer
.footer {
  &__list {
    &-title {
      font-size: toRem(36px);
    }
  }

  &__link {
    font-size: toRem(20px);
    line-height: toRem(27px);
  }

  
}

.info {
  &__item {
    font-size: toRem(20px);
  }
  &__title {
    line-height: toRem(24px);
  }
}
