@font-face {
    font-family: "MetropolisAr";
    src: url("../fonts/metropolis/metropolis-regular-webfont.woff") format("woff");
    src: url("../fonts/metropolis/metropolis-regular-webfont.woff2") format("woff2");
    src: url("../fonts/metropolis/Metropolis-Regular.otf") format("otf");
    font-style: normal;
    font-weight: 400;
}
/* Default Styles */
*,
*::after,
*::before {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "MetropolisAr", sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
}

.container-xxl {
    --bs-gutter-x: 3.125rem;
}

.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    width: 108px;
    height: 48px;
    background-image: url("../img/logo.svg");
    background-position: center center;
    background-repeat: no-repeat;
}

.offcanvas__nav-link {
    display: inline-block;
    padding: 10px 15px;
    color: #111111;
}

.offcanvas__nav-link:hover {
    background-color: #f3f3f3;
}

.btn-outline-primary {
    --bs-btn-color: #111111;
    --bs-btn-border-color: #111111;
    --bs-btn-border-radius: 1rem;
    --bs-btn-hover-bg: #111111;
    --bs-btn-hover-border-color: #111111;
    --bs-btn-active-bg: #414141;
    --bs-btn-active-border-color: #111111;
    padding: 16px 40px;
    font-size: 1.125rem;
}

.row-main {
    --bs-gutter-x: 0;
}

.row-main .col {
    height: 80px;
}

.row-main .col:not(:first-child) {
    border-left: 1px solid #e5e5e5;
}

.header {
    display: flex;
    align-items: center;
    height: 96px;
}

.header > .container-xxl {
    display: flex;
    align-items: center;
    height: 100%;
}

.header__burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 32px;
    width: 32px;
    padding: 8px 5px;
}

.header__burger-line {
    height: 2px;
    width: 100%;
    background-color: #000000;
}

.header__btn-contact {
    margin-right: 49px;
}

.hero {
    z-index: 2;
}

.hero > .container-xxl {
    padding: 0;
}

.hero .swiper {
    width: 100%;
    height: 100%;
}

.hero .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero .swiper-slide img {
    display: block;
    height: 503px;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: 50% 0;
    object-position: 50% 0;
}

.hero__info {
    position: absolute;
    right: 0;
    top: 40px;
    left: 49px;
    padding: 32px;
}

.hero__info::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 24px 0 0 24px;
    background-color: rgba(17, 17, 17, 0.55);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    z-index: 1;
}

.hero__text {
    position: relative;
    color: #ffffff;
    font-size: 2.5rem;
    line-height: 1em;
    z-index: 2;
}

.hero__view-all {
    position: relative;
    display: inline-block;
    margin-top: 40px;
    color: #ffffff;
    font-size: 1.5rem;
    text-decoration: underline;
    z-index: 2;
}

.benefits .continer-xxl__top {
    padding: 0;
}

.benefits .col {
    height: 80px;
}

.benefits__top-wrap > .row > .col:not(:last-child) {
    border-right: 1px solid #e5e5e5;
}

.benefits__title {
    font-size: 2.125rem;
    padding: 35px 30px;
    margin-bottom: 0;
    border-top: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    border-radius: 0 24px 0 0;
}

.benefits__top-mobile .col {
    height: 80px;
}

.benefits__top-mobile .col:not(:last-child) {
    border-right: 1px solid #e5e5e5;
}

.benefits__bottom-mobile .col {
    height: 80px;
    border-top: 1px solid #e5e5e5;
}

.benefits__bottom-mobile .col:not(:last-child) {
    border-right: 1px solid #e5e5e5;
}

.benefits__swiper {
    border-top: 1px solid #e5e5e5;
}

.benefits__slide {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.benefits__picture {
    padding: 40px 25px 5px 25px;
}

.benefits__picture > img {
    width: 100% !important;
}

.benefits__slide-text {
    padding: 32px 25px;
    font-size: 1.5rem;
    order: 2;
}

.benefits__buttons {
    display: flex;
    -moz-column-gap: 1px;
    column-gap: 1px;
    border-top: 1px solid #e5e5e5;
    background-color: #e5e5e5;
}

.benefits__btn {
    display: inline-block;
    height: 48px;
    flex-basis: 50%;
    background-image: url("../img/arrow.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #ffffff;
}

.benefits__btn-prev {
    transform: rotate(180deg);
}

.opinion__top {
    position: relative;
    height: 736px;
    background-image: url("../img/opinionBG.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

.opinion__text {
    position: absolute;
    bottom: 0;
    left: 25px;
    right: 25px;
    padding: 32px;
    margin-bottom: 0;
    border-radius: 24px 0 0 0;
    border: 1px solid #e5e5e5;
    font-size: 1.5rem;
    background-color: #ffffff;
}

.team > .container-xxl {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 140px;
    background-image: url("../img/teamBG.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.team__title {
    margin-top: 18px;
    font-size: 3rem;
}

.team__info {
    position: relative;
    bottom: -140px;
    max-width: 468px;
    padding: 32px;
    margin-top: 315px;
    border-radius: 24px;
    border: 1px solid #e5e5e5;
    background-color: #ffffff;
}

.team__text {
    font-size: 1.125rem;
}

.team__link {
    margin-top: 24px;
    color: #111111;
    font-size: 1.5rem;
    text-decoration: underline;
}

.consultation > .container-xxl {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 320px;
    padding-bottom: 40px;
    color: #ffffff;
    background-color: #111111;
    overflow: hidden;
}

.consultation > .container-xxl::before {
    content: "";
    position: absolute;
    top: -152px;
    bottom: 0;
    left: 0;
    right: 34px;
    transform: rotate(180deg);
    background-image: url("../img/consultationBG.png");
    background-repeat: no-repeat;
    background-position: left bottom;
}

.consultation > .container-xxl::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, #111111 77.08%);
}

.consultation__title {
    margin-bottom: 24px;
    max-width: 325px;
    font-size: 3rem;
    z-index: 1;
}

.consultation__text {
    max-width: 325px;
    font-size: 1.125rem;
    z-index: 1;
}

.consultation__link {
    margin-top: 38px;
    color: #ffffff;
    font-size: 1.5rem;
    text-decoration: underline;
    z-index: 1;
}

.contact .container-xxl {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../img/contactBG.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.contact__form {
    display: flex;
    flex-direction: column;
    max-width: 452px;
    width: 100%;
    padding: 32px;
    margin-top: 480px;
    margin-bottom: 40px;
    border-radius: 24px;
    background: rgba(17, 17, 17, 0.72);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}

.contact__form input:not(:last-child), .contact__form textarea, .contact__form select {
    margin-bottom: 24px;
    border: none;
    border-bottom: 1px solid #444444;
    padding: 4px;
    height: 31px;
    color: #ffffff;
    background-color: transparent;
    outline: none;
}

.contact__form input:not(:last-child)::-moz-placeholder, .contact__form textarea::-moz-placeholder, .contact__form select::-moz-placeholder {
    color: #ffffff;
}

.contact__form input:not(:last-child)::placeholder, .contact__form textarea::placeholder, .contact__form select::placeholder {
    color: #ffffff;
}

.contact__form input:not(:last-child):focus-visible, .contact__form textarea:focus-visible, .contact__form select:focus-visible {
    border-bottom: 1px solid #ffffff;
}

.contact__form input:not(:last-child) option, .contact__form textarea option, .contact__form select option {
    color: #111111;
}

.contact__form input[type=submit] {
    padding: 16px 14px;
    border: 1px solid #ffffff;
    border-radius: 16px;
    color: #ffffff;
    font-size: 1.125rem;
    background-color: transparent;
}

.contact__form textarea {
    overflow: hidden;
    resize: none;
}

.contact__form select {
    border-radius: 0;
}

.contact__form select:focus {
    box-shadow: none;
}

.contact .form__title {
    margin-bottom: 26px;
    font-size: 2rem;
    color: #ffffff;
}

.projects > .container-xxl {
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

.projects__title {
    margin-bottom: 24px;
    font-size: 3rem;
}

.projects__text {
    margin-bottom: 48px;
    font-size: 1.125rem;
}

.projects__link {
    color: #111111;
    font-size: 1.5rem;
    text-decoration: underline;
}

.projects__swiper .swiper-wrapper {
    margin-top: 32px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.projects__swiper .swiper-wrapper .swiper-slide {
    display: flex;
    justify-content: center;
    width: 309px;
    height: 441px;
    overflow: hidden;
}

.projects__scrollbar {
    position: relative;
    height: 8px;
    margin-top: 20px;
}

.projects__scrollbar::after {
    content: "";
    position: absolute;
    top: 3px;
    bottom: 3px;
    left: 0;
    right: 0;
    background-color: #111111;
}

.projects__scrollbar .swiper-scrollbar-drag {
    position: relative;
    border-radius: 8px;
    background-color: #111111;
    z-index: 1;
}

.projects__scrollbar .swiper-scrollbar-drag::before {
    content: "";
    position: absolute;
    left: -6px;
    width: 6px;
    height: 8px;
    background-color: #ffffff;
}

.projects__scrollbar .swiper-scrollbar-drag::after {
    content: "";
    position: absolute;
    right: -6px;
    width: 6px;
    height: 8px;
    background-color: #ffffff;
}

.footer__main {
    display: flex;
    flex-direction: column;
    row-gap: 1px;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: #e5e5e5;
}

.footer__nav {
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 25px;
    background-color: #ffffff;
}

.footer__contacts {
    flex-basis: 100%;
    padding: 40px 25px;
    background-color: #ffffff;
}

.footer__list {
    margin-bottom: 0;
    padding: 0;
}

.footer__list-title {
    margin-bottom: 16px;
    font-size: 1.5rem;
    color: #111111;
}

.footer__item:not(:last-child) {
    margin-bottom: 8px;
}

.footer__link {
    font-size: 1.125rem;
    line-height: 1.5rem;
    color: #111111;
    transition: color 0.5s ease;
}

.footer__link:hover {
    color: #646464;
}

.footer__contacts-wrap {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.footer__contacts-title {
    margin-bottom: 24px;
    font-size: 2.25rem;
}

.footer__contacts-info {
    margin-bottom: 24px;
    font-size: 1.25rem;
}

.footer__contacts-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    padding-top: 16px;
    padding-bottom: 16px;
    border: 1px solid #111111;
    border-radius: 16px;
    color: #111111;
    font-size: 1.125rem;
}

.footer__down {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 24px;
    padding-bottom: 24px;
    row-gap: 16px;
}

.footer__copyright {
    font-size: 0.875rem;
    color: #444444;
}

.footer__made {
    font-size: 0.875rem;
    line-height: 1.1875rem;
    color: #444444;
    transition: color 0.5s ease;
}

.footer__made:hover {
    color: #000000;
}

.footer__logo {
    opacity: 0.3;
    transition: opacity 0.5s ease;
}

.footer__logo:hover {
    opacity: 1;
}

.info__list {
    margin-bottom: 0;
    padding: 0;
}

.info__item {
    line-height: 1.25rem;
    color: #111111;
    list-style: none;
}

.info__item:not(:last-child) {
    margin-bottom: 24px;
}

.info__title {
    margin-bottom: 4px;
    line-height: 1.5rem;
}

.info__adress {
    margin-bottom: 0;
}

.info .info__link {
    color: #111111;
    transition: color 0.5s ease;
}

.info .info__link:hover {
    color: #646464;
}