<section class="benefits">
  <div class="container-xxl continer-xxl__top">
    <div class="row benefits__top-mobile d-lg-none m-0">
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
    </div>

    <div class="row me-0">
      <div class="col-11 col-lg-9 benefits__wrap">
        <div class="benefits__top-wrap">
          <div class="row d-none d-lg-flex">
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
          </div>

          <h2 class="benefits__title">
            We accompany you from the concept to the realization of the project.
          </h2>
        </div>
      </div>
    </div>

    <div class="swiper benefits__swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide benefits__slide">
          <p class="benefits__slide-text">
            We develop planning solutions and design concept. We make a
            photorealistic 3D visualization of all premises.<br /><br />
            On the basis of an approved design, we develop detailed working
            project for the implementation of the project.
          </p>
          <picture class="benefits__picture">
            <source
              media="(min-width:992px)"
              srcset="assets/img/benefits/bg1.png"
            />
            <img
              src="assets/img/benefits/bg1_mobile.png"
              alt="3D visualization"
            />
          </picture>
        </div>
        <div class="swiper-slide benefits__slide">
          <p class="benefits__slide-text">
            We are engaged in preparing commercial offers for each position from
            different suppliers.
            <br /><br />
            We pick up furniture, plumbing, lighting, materials, colors,
            processing, invoices, etc., according to the design-project.
          </p>
          <picture class="benefits__picture">
            <img src="assets/img/benefits/bg2.jpg" alt="different materials" />
          </picture>
        </div>
        <div class="swiper-slide benefits__slide">
          <p class="benefits__slide-text">
            We are engaged in preparing commercial offers for each position from
            different suppliers.
            <br /><br />
            We pick up furniture, plumbing, lighting, materials, colors,
            processing, invoices, etc., according to the design-project.
          </p>
          <picture class="benefits__picture">
            <img
              src="assets/img/benefits/bg3.jpg"
              alt="the room with cool design"
            />
          </picture>
        </div>
        <div class="swiper-slide benefits__slide">
          <p class="benefits__slide-text">
            In the course of author's supervision, the main designer goes to
            control the compliance of performed repair and finishing works by
            design-project.
            <br /><br />
            And also, if necessary, make adjustments to the working drawings.
          </p>
          <picture class="benefits__picture">
            <img src="assets/img/benefits/bg4.jpg" alt="a renovation room" />
          </picture>
        </div>
      </div>
      <div class="benefits__buttons">
        <a href="#" class="benefits__btn benefits__btn-prev"></a>
        <a href="#" class="benefits__btn benefits__btn-next"></a>
      </div>
    </div>

    <div class="row benefits__bottom-mobile m-0">
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
    </div>
  </div>
</section>
