<section class="consultation">
  <div class="container-xxl">
    <h2 class="consultation__title">Consultation service.</h2>
    <p class="consultation__text">
      So that your dream does not break on the rocks of reality, however comes
      to life in the acquired property, we want to provide our assistance in the
      form of the service "Consulting at the stage of choosing a real estate".
      <br /><br />
      Creating a technical task for design, based on the completed brief, we
      develop a planning solution.
      <br /><br />
      As a conclusion, we give our expert opinion on the property. We will
      discuss all the pros and cons of the initial data of the premises, on the
      basis of which you freely make the right decision to purchase it.
    </p>
    <a href="#" class="consultation__link">View all services.</a>
  </div>

  <div class="row row-main">
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
  </div>
</section>
