<footer class="footer">
  <div class="footer__main">
    <nav class="footer__nav">
      <!-- First list -->
      <ul class="footer__list">
        <h3 class="footer__list-title">Arch</h3>
        <div class="footer__item">
          <a href="#" class="footer__link">About.</a>
        </div>
        <div class="footer__item">
          <a href="#" class="footer__link">Career.</a>
        </div>
        <div class="footer__item">
          <a href="#" class="footer__link">Awards.</a>
        </div>
      </ul>
      <!-- Second list -->
      <ul class="footer__list">
        <h3 class="footer__list-title">Projects</h3>
        <div class="footer__item">
          <a href="#" class="footer__link">Restaurant and bar.</a>
        </div>
        <div class="footer__item">
          <a href="#" class="footer__link">Corporate space.</a>
        </div>
        <div class="footer__item">
          <a href="#" class="footer__link">Residential.</a>
        </div>
        <div class="footer__item">
          <a href="#" class="footer__link">Retail.</a>
        </div>
        <div class="footer__item">
          <a href="#" class="footer__link">Hotels.</a>
        </div>
        <div class="footer__item">
          <a href="#" class="footer__link">Civic and cultural.</a>
        </div>
      </ul>
      <!-- Third list -->
      <ul class="footer__list">
        <h3 class="footer__list-title">Services</h3>
        <div class="footer__item">
          <a href="#" class="footer__link">Consultation.</a>
        </div>
        <div class="footer__item">
          <a href="#" class="footer__link">Realisation.</a>
        </div>
        <div class="footer__item">
          <a href="#" class="footer__link">Author’s supervision.</a>
        </div>
        <div class="footer__item">
          <a href="#" class="footer__link">Equipment.</a>
        </div>
      </ul>
    </nav>
    <div class="footer__contacts">
      <div class="footer__contacts-wrap">
        <h3 class="footer__contacts-title">Contacts</h3>
        <div class="footer__contacts-info">
          You can call us, write or visit.
        </div>
        <a href="#" class="footer__contacts-btn">Get in touch</a>
      </div>

      <div class="info">
        <ul class="info__list">
          <li class="info__item">
            <h5 class="info__title">Adress.</h5>
            <address class="info__adress">
              6 rue Germaine Richier 75013 Paris, France
            </address>
          </li>
          <li class="info__item">
            <h5 class="info__title">Phone.</h5>
            <a class="info__link" href="tel:+33972174974">+ 33 9 72 17 49 74</a>
          </li>
          <li class="info__item">
            <h5 class="info__title">Mail.</h5>
            <a class="info__link" href="mailto:contact@dnd.fr"
              >contact@dnd.fr</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container-xxl">
    <div class="footer__down">
      <a href="#" class="footer__logo">
        <img src="assets/img/logo-short.svg" alt="logo image" />
      </a>

      <div class="footer__copyright">© Copyright 2022. All rights reserved</div>
      <a
        href="https://www.figma.com/@agencednd"
        target="_blank"
        class="footer__made"
        >Made by Agence Dn’D.</a
      >
    </div>
  </div>
</footer>
