<header class="header">
  <div class="container-xxl">
    <div class="header__burger-wrapp">
      <a class="header__burger" id="header__burger">
        <div class="header__burger-line"></div>
        <div class="header__burger-line"></div>
        <div class="header__burger-line"></div>
      </a>
    </div>

    <a href="#" class="logo"></a>

    <div
      class="header__right-block d-flex justify-content-between align-items-center ms-auto"
    >
      <a
        href="#"
        class="btn btn-outline-primary header__btn-contact d-none d-lg-block"
        >Contact us</a
      >

      <div class="dropdown-center dropdown-lang d-none d-lg-block">
        <button
          id="active-lang"
          class="btn dropdown-toggle btn-chose-lang"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          EN
        </button>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item change-lang active" href="#" language="en"
              >EN</a
            >
          </li>
          <li>
            <a class="dropdown-item change-lang" href="#" language="ru">RU</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>

<nav class="navigation" id="navigation">
  <div class="navigation__content">
    <div class="navigation__header">
      <h5 class="navigation__title">Navigation</h5>
      <a href="#" class="navigation__close" id="close-btn"></a>
    </div>

    <ul class="navigation__list">
      <li class="navigation__item">
        <a href="#benefits" class="navigation__link">Benefits</a>
      </li>

      <li class="navigation__item">
        <a href="#team" class="navigation__link">Our team</a>
      </li>
      <li class="navigation__item">
        <a href="#projects" class="navigation__link">Recent projects</a>
      </li>
      <li class="navigation__item">
        <a href="#consultation" class="navigation__link"
          >Consultation service</a
        >
      </li>
      <li class="navigation__item">
        <a href="#contact" class="navigation__link">Contact us</a>
      </li>
    </ul>
  </div>
  <div class="navigation__close-block" id="close-block"></div>
</nav>
