<section class="hero">
  <div class="container-xxl">
    <div class="swiper hero__swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="assets/img/hero/bg1.jpg" alt="room" class="hero__img" />
          <div class="hero__info">
            <div class="hero__text">We design places where you can live.</div>
            <a href="#" class="hero__view-all">View all projects.</a>
          </div>
        </div>
        <div class="swiper-slide">
          <img src="assets/img/hero/bg2.jpg" alt="gym" class="hero__img" />
          <div class="hero__info">
            <div class="hero__text">
              We design places where you can workout.
            </div>
            <a href="#" class="hero__view-all">View all projects.</a>
          </div>
        </div>
        <div class="swiper-slide">
          <img src="assets/img/hero/bg3.jpg" alt="kitchen" class="hero__img" />
          <div class="hero__info">
            <div class="hero__text">We design places where you can eat.</div>
            <a href="#" class="hero__view-all">View all projects.</a>
          </div>
        </div>
        <div class="swiper-slide">
          <img src="assets/img/hero/bg4.jpg" alt="office" class="hero__img" />
          <div class="hero__info">
            <div class="hero__text">We design places where you can work.</div>
            <a href="#" class="hero__view-all">View all projects.</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
